.nav {
    border-bottom: 1px solid #d5c6e3;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .nav {
    border-bottom: 1px solid #d5c6e3;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 180px;
    padding-right: 180px;
} */

.logo_size {
    width: 93px;
    height: 53px;
}

.app-menu {
    /* border: 1px solid black; */
    /* line-height: 10px; */
    float: right;
}

.profile-dropdown-menu {
    min-width: 180px;
}

.profile-menu .user-full-name-info {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
}

.profile-menu .username-info {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.dropdown-item {
    padding: 10px 12px;
}

.dropdown-item a {
    padding: 10px 12px;
    margin: -10px -12px;
}

.nav-icon {
    font-size: 30px;
}
/* .app-title {
    float: left;
    margin-left: 10px;
}

.app-title a {
    text-decoration: none;
    line-height: 30px;
    font-size: 21px;
    display: inline-block;
}

.app-title a:hover {
    text-decoration: none;
}

.app-header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 10vh;
    box-shadow: 0 2px 8px gray;
    z-index: 10;
    padding: 0;
}

.app-menu {
    line-height: 10px;
    float: right;
}

.app-menu > li {
    padding: 0 20px;
}

.app-menu > li > a {
    padding: 0 20px;
    margin: 0 -20px;
}

.app-menu > li > a > i {
    margin-right: 0 !important;
}

.profile-dropdown-menu {
    min-width: 180px;
}

.profile-menu .user-full-name-info {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
}

.profile-menu .username-info {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.dropdown-item {
    padding: 10px 12px;
}

.dropdown-item a {
    padding: 10px 12px;
    margin: -10px -12px;
}

.nav-icon {
    font-size: 30px;
}

@media (max-width: 768px) {
    .app-title a {
        font-size: 20px;
    }

    .app-menu > li {
        padding: 0 15px;
    }

    .app-menu > li > a {
        padding: 0 15px;
        margin: 0 -15px;
    }
} */

/* .app-title {
    float: left;
    margin-left: 10px;
}

.app-title a {
    text-decoration: none;
    line-height: 30px;
    font-size: 21px;
    display: inline-block;
}

.app-title a:hover {
    text-decoration: none;
} */

/* .app-header {
    border: 1px solid black;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 10vh;
    box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px gray;
    z-index: 10;
    padding: 0;
} */

.nav {
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-left: 180px;
    padding-right: 180px; */
}

.logo_size {
    width: 93px;
    height: 53px;
}

.app-menu {
    /* border: 1px solid black; */
    /* line-height: 10px; */
    float: right;
}

/* 
a.link:hover {
    background-color: #D5C6E3;
  } */

/* .app-menu > li {
    padding: 0 20px;
}

.app-menu > li > a {
    padding: 0 20px;
    margin: 0 -20px;
}

.app-menu > li > a > i {
    margin-right: 0 !important;
} */

.profile-dropdown-menu {
    min-width: 180px;
}

.profile-menu .user-full-name-info {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
}

.profile-menu .username-info {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.dropdown-item {
    padding: 10px 12px;
}

.dropdown-item a {
    padding: 10px 12px;
    margin: -10px -12px;
}

.nav-icon {
    font-size: 30px;
}

/* @media (max-width: 768px) {
    .app-title a {
        font-size: 20px;
    }

    .app-menu > li {
        padding: 0 15px;
    }

    .app-menu > li > a {
        padding: 0 15px;
        margin: 0 -15px;
    }
} */
